<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["css/design-system.css"]" />
    <link rel="stylesheet" href="@Assets["css/palettes/palette-pink-mauve.css"]" />
    <link rel="stylesheet" href="@Assets["css/layout.css"]" />
    <link rel="stylesheet" href="@Assets["css/error-pages.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Nutrir.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/chart.js/chart.umd.min.js"></script>
    <script src="js/progress-chart.js"></script>
    <script src="js/global-search.js"></script>
</body>

</html>
